@import url('https://fonts.googleapis.com/css?family=Limelight|Lato');

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-top: 75px;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  background-color: #263238;
}

ul {
 list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

nav {
  background-color: #263238;
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  color: #FFFFFF;
  border-bottom: 2px dashed #FFFFFF;
}

nav > span {
  position: absolute;
  left: 1%;
  line-height: 50px;
  font-size: 12px;
}

nav > ul {
  display: inline;
  float: right;
  margin: 0px;
}

nav > ul li {
  transition: 0.2s;
  display: inline-block;
  line-height: 50px;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
  padding: 0px 1px;
  font-size: 10px;
}

nav > ul li:hover {
  background-color: #FFFFFF;
  color: #007c91;
  font-weight: 800;
}

@media only screen and (min-width: 450px) {
    
  nav > ul li {
    letter-spacing: 0.1rem;
  padding: 0px 10px;
    font-size: 16px;
  }
    
    nav > span {
        font-size: 18px;
    }
}

.box {
  border: 4px solid #000a12;
  box-shadow: 0px 0px 0px 4px #FFFFFF;
  background: #4f5b62;
  color: #FFFFFF;
  border-radius: 50px;
  padding: 1%;
  margin: 0% 1%;
}

header {
  overflow: auto;
  font-size: 20px;
}

header h1 {
  font-family: "Limelight", cursive;
  display: block;
  color: #4f5b62;
    text-shadow: 
    -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
}

.selfie {
  display: block;
  position: relative;
  border-radius: 50px; 
}

.selfie:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 300px;
  max-width: 300px;
  z-index: 1;
  border-radius: 50px;
  background: -moz-linear-gradient(top, rgba(68, 187, 164, 0.5) 0%, rgba(68, 187, 164, 0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68, 187, 164, 0.5)), color-stop(100%,rgba(68, 187, 164, 0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(68, 187, 164, 0.5) 0%,rgba(68, 187, 164, 0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(68, 187, 164, 0.5) 0%,rgba(68, 187, 164, 0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(68, 187, 164, 0.5) 0%,rgba(68, 187, 164, 0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(68, 187, 164, 0.5) 0%,rgba(68, 187, 164, 0.5) 100%); /* W3C */
  
}

.selfie > img {
    border-radius: 50px;
}

@media only screen and (min-width: 500px) {
  .selfie {
    position: relative;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
  } 
  
  header h1 {
    display: inline;
  }
}

.info {
  display: block;
}

header a {
  color: #62efff;
}

.dashed {
  border-bottom: 1px dashed #00acc1;
}

#projects {
  max-width: 100%;
  min-height: 200px;
  margin: 10px 6px;
  border: 4px dashed #FFFFFF;
  border-radius: 50px;
}

#projects:after {
  display: table;
  clear: both;
  content: '';
}

.list-col {
    max-width: 100%;
    background-color: #263238;
    color: #FFFFFF;
    margin: auto;
    border-radius: 50px;
}

.list-col > ul {
    padding: 0px;
}

.list-col > ul li {
    list-style-type: none;
    margin-left: 0px !important;
    padding-left: 0px !important;
    text-align: center;
}

.list-col > ul a {
    color: white;
    font-size: 20px
}

.list-col > ul a:hover {
    color: #5ddef4;
    font-weight: bold;
}

.sample-col {
    background-color: #FFFFFF;
    border-radius: 0px 0px 50px 50px;
}

@media only screen and (min-width: 800px) {
    #projects {
        margin: 1% 0.5% 1% 1%;
        position: relative;
    }
    
    .sample-col {
        position: relative;
        min-height: 650px;
        height: 90%;
        width: 73%;
        float: left;
        padding: 5px 5px 20px 5px;
        border-radius: 50px 0px 0px 50px;
    }
    
    .list-col {
        background-color: transparent;
        text-align: left;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 75%;
        right: 0;
        height: 90%;
    }
    
    .list-col > ul {
        padding-top: 40%;       
    }
    
     .list-col > ul li {
        padding: 10px 0px;
        font-size: 20px;
        text-align: left;
    }

}

@media only screen and (min-width: 1200px) {
    .list-col {
        left: 75%;
        width: 25%;
    }
    
    .list-col > ul {
        padding-top: 40px;
    }
    
    .list-col > ul li {
        padding: 20px;
        font-size: 25px;
    }
    
    .sample-col {
        width: 73%;
        height: 90%;
        padding-bottom: 30px;
    }
    
    
    #projects {
        margin: 14px 1%;
        display: block;
    }
    
}

.project-item {
    text-align: center;
    padding-top: 0px;
}

.project-item > h2 {
    font-size: 35px;
    font-family: "Limelight", cursive;
}

.project-item > p {
    width: 75%;
    margin: auto;
    padding: 15px;
    font-size: 18px;
}

figure > a {
    color: #007c91;
}

.caption-italic  {
    font-style: italic;
    margin: auto;
    max-width: 75%;
    word-wrap: break-word;
}

.caption-italic > a {
    color: #007c91;
}

#contact {
  margin-bottom: 10%;
  padding: 2%;
  text-align: center;
}

#contact > h2 {
    margin: auto;
    padding-left: 35px;
    font-family: "Limelight", cursive;
}

#contact:after {
  display: table;
  clear: both;
  content: '';
}

#icons {
  text-align: center;
  padding: 10px 0px 10px 0px;
}

#icons > li {
  display: inline-block;
}

#icons > a {
  border: 0px !important;
}

i {
  color: #00acc1;
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
    #contact {
        margin-bottom: 3%;
    }

}

footer {
  border-top: 2px dashed #FFFFFF;
  background-color: #263238;
  position:absolute;
  bottom:0;
  left: 0;
  width:100%;
  height:20px;
  text-align: center;
  color: #FFFFFF;
}

.hidden {
    display: none;
}