@import url('https://fonts.googleapis.com/css?family=Limelight|Lato');

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-top: 75px;
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  background-color: #263238;
}

ul {
 list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

nav {
  background-color: #263238;
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  color: #FFFFFF;
  border-bottom: 2px dashed #FFFFFF;
}

nav > span {
  position: absolute;
  left: 1%;
  line-height: 50px;
  font-size: 12px;
}

nav > ul {
  display: inline;
  float: right;
  margin: 0px;
}

nav > ul li {
  transition: 0.2s;
  display: inline-block;
  line-height: 50px;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
  padding: 0px 1px;
  font-size: 10px;
}

nav > ul li:hover {
  background-color: #FFFFFF;
  color: #007c91;
  font-weight: 800;
}

.box {
  border: 4px solid #000a12;
  box-shadow: 0px 0px 0px 4px #FFFFFF;
  background: #4f5b62;
  color: #FFFFFF;
  border-radius: 50px;
  padding: 5% 5% 10% 5%;
  margin: 5%;
}

header {
  overflow: auto;
  font-size: 20px;
}

header h1 {
  font-family: "Limelight", cursive;
  display: block;
  color: #4D5960;
    text-shadow: 
    -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
}

.info {
  display: block;
}

header p {
    display: inline-block;
}

header a {
  color: #62efff;
}

header ul {
    display: inline-flex;
    margin: 0px;
    padding: 0px;
}

header ul li {
    margin: 0px 20px;
}

.dashed {
  border-bottom: 1px dashed #00acc1;
}

#projects {
  min-height: 200px;
  margin: 4% 4% 10% 4%;
  border: 4px dashed #FFFFFF;
  border-radius: 50px;
}


.list-col {
    background-color: #263238;
    color: #FFFFFF;
    margin: auto;
    border-radius: 50px;
}

.list-col > ul {
    padding: 0px;
}

.list-col > ul li {
    list-style-type: none;
    margin-left: 0px !important;
    padding-left: 0px !important;
    text-align: center;
}

.list-col > ul a {
    color: white;
    font-size: 20px
}

.list-col > ul a:hover {
    color: #5ddef4;
    font-weight: bold;
}

.sample-col {
    background-color: #263238;
    border-radius: 0px 0px 50px 50px;
}

.project-item {
    text-align: center;
    padding-top: 0px;
}

.project-item > h2 {
    font-size: 35px; 
    font-family: "Limelight", cursive;
    color: #263238;
    text-shadow: 
    -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
}

.project-item > p {
    width: 75%;
    margin: auto;
    padding: 15px;
    font-size: 18px;
}

.project-item > p > a {
    color: #5ddef4;
}

figure > a {
    color: #5ddef4;
}

.caption-italic  {
    font-style: italic;
    margin: auto;
    max-width: 75%;
    word-wrap: break-word;
}

.caption-italic > a {
    color: #5ddef4;
}

svg {
  color: #62efff;
    padding: 5px;
}

footer {
  border-top: 2px dashed #FFFFFF;
  background-color: #263238;
  position:absolute;
  bottom:0;
  left: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.hidden {
    display: none;
}

@media only screen and (min-width: 450px) {
    
  nav > ul li {
    letter-spacing: 0.1rem;
  padding: 0px 10px;
    font-size: 16px;
  }
    
    
    nav > span {
        font-size: 18px;
    }
}

@media only screen and (min-width: 550px) {
    
    .box {
        padding: 3% 3% 6% 3%;
    }
}

@media only screen and (min-width: 800px) {
    
    .box {
        padding: 1% 2% 3% 2%;
        margin: 5% 10% 0%;
    }
    
    
    #projects {
        margin: 3% 9% 9%;
        position: relative;
    }
   
}

@media only screen and (min-width: 1200px) {
     
    .sample-col {
        position: relative;
        min-height: 650px;
        height: 90%;
        width: 73%;
        float: left;
        padding: 5px 5px 20px 5px;
        border-radius: 50px 0px 0px 50px;
    }
    
    .list-col {
        background-color: transparent;
        text-align: left;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 75%;
        right: 0;
        height: 90%;
        width: 25%;
    }
    
    .list-col > ul {
        padding-top: 40%;       
    }
    
     .list-col > ul li {
        padding: 10px 0px;
        font-size: 20px;
        text-align: left;
    }

    
    #projects {
        margin: 2% 9% 4%;
        display: block;
    }
    
}